# Preparing Datasets by Merging for Preprocessing

In [12]:
import pandas as pd

df1 = pd.read_csv("content/Consumer prices indicators - FAOSTAT_data_en_2-22-2024.csv", low_memory=False)
df2 = pd.read_csv("content/Crops production indicators - FAOSTAT_data_en_2-22-2024.csv", low_memory=False)
df3 = pd.read_csv("content/Emissions - FAOSTAT_data_en_2-27-2024.csv", low_memory=False)
df4 = pd.read_csv("content/Employment - FAOSTAT_data_en_2-27-2024.csv", low_memory=False)
df5 = pd.read_csv("content/Exchange rate - FAOSTAT_data_en_2-22-2024.csv", low_memory=False)
df6 = pd.read_csv("content/Fertilizers use - FAOSTAT_data_en_2-27-2024.csv", low_memory=False)
df7 = pd.read_csv("content/Food balances indicators - FAOSTAT_data_en_2-22-2024.csv", low_memory=False)
df8 = pd.read_csv("content/Food security indicators  - FAOSTAT_data_en_2-22-2024.csv", low_memory=False)
df9 = pd.read_csv("content/Food trade indicators - FAOSTAT_data_en_2-22-2024.csv", low_memory=False)
df10 = pd.read_csv("content/Foreign direct investment - FAOSTAT_data_en_2-27-2024.csv", low_memory=False)
df11 = pd.read_csv("content/Land temperature change - FAOSTAT_data_en_2-27-2024.csv", low_memory=False)
df12 = pd.read_csv("content/Land use - FAOSTAT_data_en_2-22-2024.csv", low_memory=False)
df13 = pd.read_csv("content/Pesticides use - FAOSTAT_data_en_2-27-2024.csv", low_memory=False)


#     print(f"DataFrame {i}:\n")
#     print(data.head(12))  # Show the first 12 rows of each DataFrame
#     print("\n")
# df1_new.head(12)
# df2_new.head(12)
# df3_new.head(12)
# df4_new.head(12)
# df5_new.head(12)
# df6_new.head(12)
# df7_new.head(12)
# df8_new.head(12)
# df9_new.head(12)
# df10_new.head(12)
# df11_new.head(12)
# df12_new.head(12)
# df13_new.head(12)

In [13]:
# List of columns to remove
df1_col_remove = ['Domain Code', 'Domain', 'Year Code', 'Item', 'Months', 'Element Code', 'Element', 'Unit', 'Flag', 'Flag Description', 'Note']
df2_col_remove = ['Domain Code', 'Domain', 'Year Code', 'Item', 'Element Code', 'Element', 'Unit', 'Flag', 'Flag Description', 'Note']
df3_col_remove = ['Domain Code', 'Domain', 'Year Code', 'Item', 'Element', 'Source Code', 'Source', 'Unit', 'Flag', 'Flag Description', 'Note']
df4_col_remove = ['Domain Code', 'Domain', 'Year Code', 'Element', 'Sex', 'Sex Code', 'Source Code', 'Source', 'Unit', 'Flag', 'Flag Description', 'Note']
df5_col_remove = ['Domain Code', 'Domain', 'ISO Currency Code (FAO)', 'Currency', 'Element Code', 'Year Code', 'Months', 'Element', 'Unit', 'Flag', 'Flag Description']
df6_col_remove = ['Domain Code', 'Domain', 'Year Code', 'Item', 'Element', 'Unit', 'Flag', 'Flag Description']
df7_col_remove = ['Domain Code', 'Domain', 'Year Code', 'Item', 'Element', 'Unit', 'Flag', 'Flag Description']
df8_col_remove = ['Domain Code', 'Domain', 'Year Code', 'Item', 'Element', 'Unit', 'Flag', 'Flag Description', 'Note']
df9_col_remove = ['Domain Code', 'Domain', 'Year Code', 'Item', 'Element', 'Unit', 'Flag', 'Flag Description', 'Note']
df10_col_remove = ['Domain Code', 'Domain', 'Year Code', 'Item', 'Element', 'Unit', 'Flag', 'Flag Description', 'Note']
df11_col_remove = ['Domain Code', 'Domain', 'Year Code', 'Months', 'Element', 'Unit', 'Flag', 'Flag Description']
df12_col_remove = ['Domain Code', 'Domain', 'Year Code', 'Item', 'Element', 'Unit', 'Flag', 'Flag Description', 'Note']
df13_col_remove = ['Domain Code', 'Domain', 'Year Code', 'Item', 'Element', 'Unit', 'Flag', 'Flag Description', 'Note']


# Remove the specified columns
df1_new = df1.drop(columns=df1_col_remove)
df2_new = df2.drop(columns=df2_col_remove)
df3_new = df3.drop(columns=df3_col_remove)
df4_new = df4.drop(columns=df4_col_remove)
df5_new = df5.drop(columns=df5_col_remove)
df6_new = df6.drop(columns=df6_col_remove)
df7_new = df7.drop(columns=df7_col_remove)
df8_new = df8.drop(columns=df8_col_remove)
df9_new = df9.drop(columns=df9_col_remove)
df10_new = df10.drop(columns=df10_col_remove)
df11_new = df11.drop(columns=df11_col_remove)
df12_new = df12.drop(columns=df12_col_remove)
df13_new = df13.drop(columns=df13_col_remove)

In [14]:
# Combine all DataFrames into a list
data_list = [df1_new, df2_new, df3_new, df4_new, df5_new, df6_new, df7_new, df8_new, df9_new, df10_new, df11_new, df12_new, df13_new]

# Specify the common values you want to filter on
common_values = ['Afghanistan', 'Pakistan', 'Sri Lanka', 'Bangladesh', 'Bhutan', 'Maldives', 'Nepal', 'India']  # Example common values

# Filter data based on common values
filtered_data = []

for data in data_list:
    # Check if the common column contains any of the common values
    mask = data[data['Area'].isin(common_values)]
    # Apply the mask to filter the data
    filtered_data.append(mask)

In [61]:
merged_df = pd.merge(filtered_data[0], filtered_data[1], on=['Year', 'Area', 'Area Code (M49)'], how='inner')

merged_df = merged_df.rename(columns={'Value_x': 'Inflation', 'Value_y': 'Crop Yield'})

merged_df.head(100)

,Area Code (M49),Area,Year,Item Code,Months Code,Inflation,Item Code (CPC),Crop Yield
0,4,Afghanistan,2000,23013,7001,24.356332,F1717,8063
1,4,Afghanistan,2000,23013,7001,24.356332,F1804,71245
2,4,Afghanistan,2000,23013,7001,24.356332,F17530,3990
3,4,Afghanistan,2000,23013,7001,24.356332,F1738,76730
4,4,Afghanistan,2000,23013,7001,24.356332,F1841,3833
...,...,...,...,...,...,...,...,...
95,4,Afghanistan,2000,23013,7009,30.529086,F1720,167857
96,4,Afghanistan,2000,23013,7009,30.529086,F1723,177273
97,4,Afghanistan,2000,23013,7009,30.529086,F1729,16378
98,4,Afghanistan,2000,23013,7009,30.529086,F1735,124154
99,4,Afghanistan,2000,23013,7010,28.749616,F1717,8063

In [62]:
# Convert the 'Item Code (CPC)' column to string type
filtered_data[2].loc[:, 'Item Code (CPC)'] = filtered_data[2]['Item Code (CPC)'].astype(str)
# Filter 'filtered_data[2]' to include only rows where the 'Item Code (CPC)' column contains 'F1712'
total_crop_emissions = filtered_data[2][filtered_data[2]['Item Code (CPC)'].str.contains('F1712')]

# Merge with 'merged_df'
merged_df = pd.merge(merged_df, total_crop_emissions, on=['Year', 'Area', 'Area Code (M49)'], how='inner', suffixes=('_x', '_y'))

# Rename the 'Value' column to 'Emissions'
merged_df = merged_df.rename(columns={'Value': 'Emissions', 'Item Code (CPC)_y': 'Emissions Item Code', 'Element Code': 'Emissions Element Code'})

# Drop duplicate columns except for the renamed 'Item Code (CPC)' column
merged_df = merged_df.drop(columns=['Item Code (CPC)_x'])

# Display the first 100 rows
merged_df.head(100)

,Area Code (M49),Area,Year,Item Code,Months Code,Inflation,Crop Yield,Emissions Element Code,Emissions Item Code,Emissions
0,4,Afghanistan,2000,23013,7001,24.356332,8063,72430,F1712,0.7056
1,4,Afghanistan,2000,23013,7001,24.356332,8063,72440,F1712,20.8471
2,4,Afghanistan,2000,23013,7001,24.356332,71245,72430,F1712,0.7056
3,4,Afghanistan,2000,23013,7001,24.356332,71245,72440,F1712,20.8471
4,4,Afghanistan,2000,23013,7001,24.356332,3990,72430,F1712,0.7056
...,...,...,...,...,...,...,...,...,...,...
95,4,Afghanistan,2000,23013,7005,25.956912,76730,72440,F1712,20.8471
96,4,Afghanistan,2000,23013,7005,25.956912,3833,72430,F1712,0.7056
97,4,Afghanistan,2000,23013,7005,25.956912,3833,72440,F1712,20.8471
98,4,Afghanistan,2000,23013,7005,25.956912,2231,72430,F1712,0.7056
99,4,Afghanistan,2000,23013,7005,25.956912,2231,72440,F1712,20.8471

In [33]:
merged_df.shape

Area Code (M49)        int64
Area                  object
Year                   int64
Item Code              int64
Months Code            int64
Inflation            float64
Item Code (CPC)_x     object
Crop Yield             int64
Element Code_x         int64
Item Code (CPC)_y     object
Emissions            float64
Element Code_y         int64
Item Code (CPC)       object
Emissions            float64
dtype: object